fluxosNodeRed.json
[{"id":"8cf2d298.dffb9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"66ed920c.c24ddc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6b58890e.7876c8","type":"group","z":"66ed920c.c24ddc","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["6620311d.a28e8","84db51d3.4d6c7","6d9ebc9.3f1ac44"],"x":334,"y":539},{"id":"c21dccd7.df582","type":"mqtt-broker","name":"mqtt_tcc","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"89","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"422cc730.c03948","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#cc0000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#cc0000","edited":true},"page-titlebar-backgroundColor":{"value":"#cc0000","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#ff1a1a","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#cc0000","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"101f89b8.380bc6","type":"ui_tab","name":"Rastrear","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"abd2445b.815d48","type":"ui_group","name":"Bloqueie ou desbloqueie seu veículo","tab":"744ec457.32f3fc","order":1,"disp":false,"width":"6","collapse":false},{"id":"744ec457.32f3fc","type":"ui_tab","name":"Bloqueio","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"57be792.fdeb088","type":"ui_group","name":"Encontre seu veículo","tab":"101f89b8.380bc6","order":1,"disp":false,"width":"12","collapse":false},{"id":"1c63b496.116a4b","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"af53f745.7fa968","type":"ui_tab","name":"Codigos de falhas","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"179b8ffc.558bb","type":"mqtt-broker","name":"mqtt_tcc","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"89","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"52a63c60.9ed584","type":"ui_group","name":"Erros dtcs","tab":"af53f745.7fa968","order":1,"disp":true,"width":"6","collapse":false},{"id":"416aede3.ad2a74","type":"mqtt in","z":"8cf2d298.dffb9","name":"","topic":"mqtt_tcc/rastreio","qos":"2","datatype":"auto","broker":"c21dccd7.df582","x":920,"y":580,"wires":[["97aed8ae.2927e8","b0d011e2.6a997"]]},{"id":"b0d011e2.6a997","type":"debug","z":"8cf2d298.dffb9","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":520,"wires":[]},{"id":"a49cd283.be326","type":"comment","z":"8cf2d298.dffb9","name":"MQTT PUB (in)","info":"","x":760,"y":360,"wires":[]},{"id":"97aed8ae.2927e8","type":"function","z":"8cf2d298.dffb9","name":"Funcao Coordenadas","func":"var test=msg.payload\nvar[a,b]=test.split(\",\")\n\nreturn {\npayload: {   lon: b,\n             lat: a,\n             name: \"Seu veículo está aqui\",\n             popped: true\n}\n};","outputs":1,"noerr":0,"initialize":"\n\n","finalize":"","x":1100,"y":640,"wires":[["56c77d20.8ccde4"]]},{"id":"56c77d20.8ccde4","type":"ui_worldmap","z":"8cf2d298.dffb9","group":"57be792.fdeb088","order":1,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"true","allowFileDrop":"false","path":"/worldmap","x":1320,"y":640,"wires":[]},{"id":"153b4344.13d1bd","type":"mqtt out","z":"66ed920c.c24ddc","name":"","topic":"mqtt_tcc/bloqueio","qos":"2","retain":"true","broker":"179b8ffc.558bb","x":430,"y":360,"wires":[]},{"id":"652e85a8.b8665c","type":"debug","z":"66ed920c.c24ddc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":140,"wires":[]},{"id":"39fb99c3.79f2a6","type":"ui_switch","z":"66ed920c.c24ddc","name":"","label":"BLOQUEIO","tooltip":"","group":"abd2445b.815d48","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":130,"y":420,"wires":[["153b4344.13d1bd","652e85a8.b8665c"]]},{"id":"6620311d.a28e8","type":"mqtt in","z":"66ed920c.c24ddc","g":"6b58890e.7876c8","name":"","topic":"mqtt_tcc/rastreio","qos":"2","datatype":"auto","broker":"c21dccd7.df582","x":440,"y":580,"wires":[["84db51d3.4d6c7"]]},{"id":"84db51d3.4d6c7","type":"function","z":"66ed920c.c24ddc","g":"6b58890e.7876c8","name":"Funcao Coordenadas","func":"var test=msg.payload\nvar[a,b,c]=test.split(\",\")\n\nreturn {\n    payload:\nc,\n};","outputs":1,"noerr":0,"initialize":"\n\n","finalize":"","x":620,"y":640,"wires":[["6d9ebc9.3f1ac44"]]},{"id":"6d9ebc9.3f1ac44","type":"ui_text","z":"66ed920c.c24ddc","g":"6b58890e.7876c8","group":"abd2445b.815d48","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":670,"y":580,"wires":[]}]